@charset "UTF-8";

*{
    width: auto;
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

a{
    text-decoration: none;
    color: #fff;
}

header {
    position: absolute;
    width: 100%;
    display: flex;
    background-color: #AD0C0C; 
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.2); /*borda sobreada */
}

.logo {
    width: 20%;
    display: flex;
}


.logo img {
    width: 55%;
    margin-top: 3%;
    margin-left: 35%;
    margin-bottom: 2%;
}

.menu {
    width: 20%;
    display: flex;
}

.menu ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    margin-left: 260%; 
}

.menu li {
    margin-top: 12%;
    padding: 10%;
    margin-right: 20%;
}



@media screen and (max-width: 1024px) {
   
    .logo {
        width: 30%;
    }
    .menu {
        width: 10%;
        margin-left: 2.5%;
    }

}

@media screen and (max-width: 768px) {
 
    .menu {
        width: 5%;
        margin-left: 10%;
    }
    
    .menu li {
        margin-top: 12%;
        padding: 10%;
    }
}

@media screen and (max-width: 550px) {
   
    .logo {
        width: 35%;
    }

    .logo img {
        margin-left: 110%;
    }
   
    .menu {
        margin-left: -15%;
    }
    
    .menu li {
        margin-top: 35%;
        padding: 0%;
    } 
}