@charset "UTF-8";

*{
    width: auto;
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

main {
    min-height: 100%;
}

a{
    text-decoration: none;
    color: #fff;
}

header {
    position: absolute;
    width: 100%;
    display: flex;
    background-color: #AD0C0C; 
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.2); /*borda sobreada */
}

.logo {
    width: 20%;
    display: flex;
}


.logo img {
    width: 55%;
    margin-top: 3%;
    margin-left: 35%;
    margin-bottom: 2%;
}

.menu {
    width: 20%;
    display: flex;
}

.menu ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    margin-left: 260%; 
}

.menu li {
    margin-top: 12%;
    padding: 10%;
    margin-right: 20%;
}

footer {
    width: 100%;
    display: flex;
    bottom: 0%;
    background-color: #AD0C0C;
}

.logo_footer {
    width: 20%;
    display: flex;
}

.logo_footer img {
    width: 200px;
    margin-top: 8%;
    margin-left: 40%;
    margin-bottom: 3%;
}

.redes_sociais {
    margin-top: 2.5%;
    margin-bottom: 3%;
    margin-left: 23%;
}

.redes_sociais h4 {
    color: #fff;
    margin-top: 2.5%;
    margin-bottom: 5%;
}

.img_face {
    width: 35px;
    margin-left: 10%;
    cursor: pointer;
}

.img_insta {
    width: 37px;
    cursor: pointer;
}

.img_youtube {
    width: 39px;
    margin-bottom: -0.2%;
    padding-left: 10%;
    padding-right: 10%;
    cursor: pointer;
}

.botoes_footer {
    margin-top: 1.5%;
    margin-left: 20%;
}

.botoes_footer button {
    width: 170%;
    height: 27%;
    cursor: pointer;
    border-radius: 62px;
    background-color: #AD0C0C;
    color: #fff;
    border-color: #fff; 
    margin-top: 10%;   
}


@media screen and (max-width: 1024px) {
   
    .logo {
        width: 35%;
    }
    .menu {
        width: 10%;
        margin-left: 2.5%;
    }
    
    .botoes_footer {
        margin-left: 11%;  
    }

    .botoes_footer button {
        width: 105%;  
    }

}

@media screen and (max-width: 768px) {
    
    .logo {
        width: 32%;
    }
 
    .menu {
        width: 5%;
        margin-left: 10%;
    }
    
    .menu li {
        margin-top: 12%;
        padding: 10%;
    }
    
    .logo_footer img {
        margin-top: 185%;
        margin-bottom: 20%;
        margin-left: 128%;
    }
    
    .redes_sociais {
        margin-top: 9%;
        margin-left: 15%;
    }
    
    .botoes_footer {
        margin-top: 30%;
        margin-left: -30%;
    }
    
    .botoes_footer button {
        width: 170%;
        height: 8%;
    }
}

@media screen and (max-width: 610px) {
   
    .logo_footer img {
        margin-top: 155%;
        margin-left: 100%;
    }
    
    .botoes_footer {
        margin-top: 30%;
        margin-left: -33%;
    }
    
    .botoes_footer button {
        width: 120%;
        height: 8%;
    }
}

@media screen and (max-width: 550px) {
   
    .logo {
        width: 35%;
    }

    .logo img {
        margin-left: 110%;
    }
   
    .menu {
        margin-left: -19%;
    }
    
    .menu li {
        margin-top: 35%;
        padding: 0%;
    } 

    .logo_footer img {
        margin-top: 135%;
        margin-left: 48%;
    }
    
    .redes_sociais {
        margin-left: 2%;
    }

    .img_face {
        margin-left: 11%;
    }
    
    .botoes_footer {
        margin-top: 39%;
        margin-left: -47%;
    }
}

@media screen and (max-width: 355px) {
    
    .botoes_footer {
        margin-left: -62%;
    }

    .logo_footer img {
        margin-top: 120%;
        margin-left: 32%;
    }
}