.home {
    position: absolute;
    top: 15%;
    display: flex;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 7% 7% 7% 7%;
}

.banner {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: aquamarine;
    margin-bottom: 10%;
}

.banner_img, .banner_texto  {
    width: 50%;
}

.banner_texto h1 {
    font-size: 250%;
    color: #002C53;
    text-shadow: 
        1px -1px 0px #002C53, 
        1px 1px 0px #002C53,                    
        1px 1px 0px #002C53,                  
        1px 0px 0px #002C53;
    margin-top: 7%;
    margin-left: 14%;
}

.banner_texto h3 {
    color: #555555;
    padding-top: 3%;
    padding-bottom: 5%; 
    margin-left: 15%;
}

.banner button {
    cursor: pointer;
    border-radius: 62px;
    border-style: solid;
    padding: 1% 2%;
    margin-left: 15%;
    
}

.banner_img img {
    width: 85%;
}